# Mac
.DS_Store
im2latex/data
*.json
*.yaml
!config_train_ex.yaml
!config_eval_ex.yaml
*.ipynb
*.bin
wandb
__pycache__/
version*/
model/

# 개인 코드 테스트 경로
personal/

# 추가 데이터셋
im2latex/create_dataset/formulas.txt
im2latex/create_dataset/rendered_formulas.txt
im2latex/create_dataset/url.lst
im2latex/create_dataset/matches.csv
im2latex/create_dataset/images
im2latex/create_dataset/pdf